.FeedPostsContent {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  scrollbar-width: none;
}

.FeedPostsContent::-webkit-scrollbar {
  display: none;
}

.recommendations-section-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #8a726a;
}

@media (max-width: 480px) {
  .FeedPostsContent {
    gap: 40px;
  }
}

@media (max-width: 350px) {
  .FeedPostsContent {
    gap: 30px;
  }
}
