.Book {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f2eae0;
  padding: 20px;
  border-radius: 5px;
}

h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

p {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
